<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
  <a target="_blank" href="https://github.com/jaywcjlove/linux-command/new/master/command">コマンドを追加する</a> |
  <a href="<%=relative_path%>hot.html">コマンドリスト</a> |
  <a href="https://github.com/jaywcjlove/oscnews" target="_blank">Chrome 拡張機能</a> |
  <a href="https://github.com/jaywcjlove/linux-command/releases" target="_blank">Alfred</a> |
  <a href="https://jaywcjlove.github.io/linux-command/linux-command.docset.zip" target="_blank">Dash</a> |
  <a href="https://github.com/roachsinai/krunner-linuxcommands" target="_blank">Krunner</a> |
  <a href="http://jaywcjlove.gitee.io/linux-command/" target="_blank">OSCHINA Web版</a>
  <br />
  <a href="https://jaywcjlove.github.io/#/sponsor" target="_blank">支援する</a> |
  <a href="https://github.com/1673beta/linux-command" target="_blank">GitHub</a> |
  <a href="https://jaywcjlove.github.io/linux-command/" target="_blank">短縮URL ：https://git.io/linux</a>
  <br />
  このサイトをブックマークするにはCtrl+DまたはCmd+Dを押してください。
  <br /> 
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> 個以上のLinuxコマンドを収録しており、 <a href="<%=relative_path%>contributors.html">50</a>人以上のコントリビュータがいます。
  <br />
  このサイトは仮想猫による非公式翻訳です。不正確な場合もあります。
</div>